//- .product-card__slider__wrap.product-card__slider__wrap--desc
.product-card__slider
  .swiper-container.gallery-main
    .swiper-wrapper
      .swiper-slide(href="img/index/slide--1.webp" srcset="img/index/slide--1.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--1.webp", srcset="img/index/slide--1.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--2.webp" srcset="img/index/slide--2.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--2.webp", srcset="img/index/slide--2.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--3.webp" srcset="img/index/slide--3.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--3.webp", srcset="img/index/slide--3.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--4.webp" srcset="img/index/slide--4.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--4.webp", srcset="img/index/slide--4.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--5.webp" srcset="img/index/slide--5.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--5.webp", srcset="img/index/slide--5.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--6.webp" srcset="img/index/slide--6.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--6.webp", srcset="img/index/slide--6.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--7.webp" srcset="img/index/slide--7.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--7.webp", srcset="img/index/slide--7.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--8.webp" srcset="img/index/slide--8.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--8.webp", srcset="img/index/slide--8.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--9.webp" srcset="img/index/slide--9.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--9.webp", srcset="img/index/slide--9.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--10.webp" srcset="img/index/slide--10.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--10.webp", srcset="img/index/slide--10.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--11.webp" srcset="img/index/slide--11.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--11.webp", srcset="img/index/slide--11.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--12.webp" srcset="img/index/slide--12.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--12.webp", srcset="img/index/slide--12.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--13.webp" srcset="img/index/slide--13.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--13.webp", srcset="img/index/slide--13.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--14.webp" srcset="img/index/slide--14.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--14.webp", srcset="img/index/slide--14.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--15.webp" srcset="img/index/slide--15.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--15.webp", srcset="img/index/slide--15.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--16.webp" srcset="img/index/slide--16.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--16.webp", srcset="img/index/slide--16.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--17.webp" srcset="img/index/slide--17.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--17.webp", srcset="img/index/slide--17.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--18.webp" srcset="img/index/slide--18.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--18.webp", srcset="img/index/slide--18.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--19.webp" srcset="img/index/slide--19.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--19.webp", srcset="img/index/slide--19.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--20.webp" srcset="img/index/slide--20.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--20.webp", srcset="img/index/slide--20.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--21.webp" srcset="img/index/slide--21.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--21.webp", srcset="img/index/slide--21.webp 2x" alt="">
      .swiper-slide(href="img/index/slide--22.webp" srcset="img/index/slide--22.webp 2x" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
        <img src="img/index/slide--22.webp", srcset="img/index/slide--22.webp 2x" alt="">

    .swiper-buttons.gallery-main--swiper-buttons
      .swiper-button-prev.gallery-main-prev
      .swiper-button-next.gallery-main-next  
  .gallery-thumbs__section
    .swiper-container.gallery-thumbs
      .swiper-wrapper
        .swiper-slide
          <img src="img/index/slide--1.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--2.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--3.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--4.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--5.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--6.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--7.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--8.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--9.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--10.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--11.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--12.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--13.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--14.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--15.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--16.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--17.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--18.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--19.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--20.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--21.webp" alt="">
        .swiper-slide
          <img src="img/index/slide--22.webp" alt="">
      //- a(href="#").gallery-thumbs__all-foto +189 фото
      .gallery-thumbs__swiper-buttons    
        .swiper-button-prev.gallery-thumbs-prev
        .swiper-button-next.gallery-thumbs-next